/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Roboto', sans-serif;
    background-image: url('../assets/gradient.png');
    background-repeat: no-repeat;
  }
}

@layer components {
  /* starting of the navbar */
  .navbar {
    @apply max-w-[1150px] mx-auto p-4 flex justify-between items-center;
  }

  .navbar__links {
    @apply flex items-center gap-7 text-sm font-thin;
  }

  .showcase__button,
  .navbar__button {
    @apply bg-[#1D2130] text-white px-[2.5rem] py-[1rem] rounded-[0.7rem] font-normal;
  }

  /* starting of the showcace */

  .showcase {
    @apply max-w-[900px] mx-auto p-4 my-[1.5rem] text-center;
  }

  .showcase__title {
    @apply text-[50px] text-[#1D2130] leading-[61px] font-bold my-[2rem];
  }
  .showcase__discription {
    @apply text-[16px] text-[#1D2130] font-light leading-[27px] my-[2rem];
  }
  .showcase__form {
    @apply flex justify-between max-w-[550px] mx-auto bg-white p-1 rounded-xl my-[2.5rem];
  }
  .showcase__input {
    @apply w-80 outline-none pl-5;
  }
  .showcase__dashboard {
    @apply max-w-[900px] mx-auto;
  }

  /* starting of the features */
  .value,
  .features {
    @apply max-w-[1150px] mx-auto p-4 mt-[5rem];
  }

  .features__title {
    @apply text-center font-medium text-transparent text-[25px] bg-clip-text bg-gradient-to-t from-[#373FFF] via-[#3ACAF8] to-[#9de5ff];
  }

  .features__heading {
    @apply text-[2.5rem] text-[#1D2130] text-center font-bold leading-[57px] my-[1rem];
  }

  .features__wraper {
    @apply bg-[#f0f1fe] px-[3rem] py-[3rem] rounded-2xl my-[3rem] flex flex-wrap gap-7 justify-between;
  }

  .features__card {
    @apply max-w-[320px];
  }

  .features__card-title {
    @apply text-[1.7rem] text-[#1D2130] font-semibold my-[1rem];
  }

  .features__card-description {
    @apply text-[0.9rem] font-light;
  }

  /* starting of the choose */

  .choose {
    @apply max-w-[1150px] mx-auto p-4 flex  justify-between items-center  mt-[3rem];
  }

  .choose__left {
    @apply max-w-[500px];
  }
  .choose__title {
    @apply font-medium text-transparent text-[20px] bg-clip-text bg-gradient-to-r from-[#373FFF] via-[#3ACAF8] to-[#9de5ff];
  }

  .choose__heading {
    @apply text-[2.7rem] text-[#1D2130] font-bold leading-[57px] my-[1rem];
  }
  .choose__description {
    @apply text-sm text-[#1D2130] font-light;
  }

  .choose__right {
    @apply max-w-[500px];
  }
  .choose__item {
    @apply flex gap-6 items-center space-y-6;
  }

  .choose__image {
    @apply w-[40px];
  }

  /* starting of call to action */

  .cta {
    background-image: url('../assets//background.png');
    @apply py-[2rem] my-[5rem];
  }
  .cta__container {
    @apply max-w-[1150px] mx-auto p-4 flex items-center justify-between;
  }
  .cta__content {
    @apply max-w-[500px];
  }
  .cta__title {
    @apply text-[2.7rem] text-[#1D2130] font-bold leading-[57px] my-[1rem];
  }
  .cta__description {
    @apply text-sm text-[#1D2130] font-light;
  }
  .cta__button {
    @apply bg-[#1D2130] text-sm text-white px-[2.5rem] py-[1rem] rounded-[0.7rem] font-normal mt-[2rem];
  }
  .cta__image {
    @apply max-w-[500px];
  }

  /* starting of partner */

  .partner {
    @apply max-w-[1150px] mx-auto p-4 flex items-center justify-between mb-[5rem];
  }
  .partner__image {
    @apply w-[150px];
  }

  /* starting of discover */

  .discover {
    @apply max-w-[1150px] mx-auto p-4 flex items-center justify-between  mt-[3rem];
  }

  .discover__left {
    @apply max-w-[500px];
  }
  .discover__title {
    @apply font-medium text-transparent text-[20px] bg-clip-text bg-gradient-to-r from-[#373FFF] via-[#3ACAF8] to-[#9de5ff];
  }

  .discover__heading {
    @apply text-[2.7rem] text-[#1D2130] font-bold leading-[57px] my-[1rem];
  }
  .discover__description {
    @apply text-sm text-[#1D2130] font-light;
  }

  .discover__right {
    @apply max-w-[500px];
  }
  .discover__item {
    @apply flex gap-7 items-center space-y-6;
  }
  .discover__image {
    @apply w-[50px];
  }
  .discover__item-title {
    @apply text-xl font-bold mb-2;
  }

  /* starting of property*/

  .property {
    @apply max-w-[1150px] mx-auto p-4 mt-[4rem];
  }

  .property__heading {
    @apply text-[2.5rem] text-[#1D2130] text-center font-bold leading-[57px] my-[1rem];
  }
  .property__wraper {
    @apply bg-[#D798E126] px-[3rem] py-[2rem] rounded-2xl my-[3rem] flex gap-7 justify-between;
  }

  .property__card {
    @apply border-r-[#CDC7D2] border-r-2;
  }
  .property__card--noborder {
    @apply border-none;
  }
  .property__card-title {
    @apply text-[1.8rem] text-[#1D2130] font-semibold my-[1rem];
  }
  .property__card-description {
    @apply text-[1rem] font-light;
  }

  /* starting of testimonial */

  .testimonial {
    @apply max-w-[1150px] mx-auto p-4 mt-[2rem];
  }
  .testimonial__title {
    @apply text-[2.5rem] text-[#1D2130] text-center font-bold leading-[57px] my-[1rem];
  }
  .testimonial__wraper {
    @apply px-[3rem] py-[2rem]  my-[3rem] flex gap-7 justify-between;
  }

  .testimonial__card {
    @apply border-[#6199ED42] border-2 rounded-xl p-[2rem] flex flex-col gap-5 text-center;
  }
  .testimonial__card-image {
    @apply w-[50px] mx-auto;
  }
  .testimonial__card-name {
    @apply font-bold;
  }
  .testimonial__card-role {
    @apply text-sm text-gray-400;
  }

  /* starting of contact  */

  .contact {
    background-image: url('../assets/gradient.png');
    background-repeat: no-repeat;
  }
  .contact__container {
    @apply max-w-[1150px] mx-auto p-4 pb-[7rem];
  }

  .contact__title {
    @apply text-[2.5rem] text-[#1D2130] text-center font-bold leading-[57px] my-[1rem];
  }
  .contact__description {
    @apply text-sm text-[#1D2130] font-light text-center  mb-7;
  }
  .contact__button {
    @apply bg-[#1D2130] text-white px-[2rem] py-[1rem] rounded-[0.7rem] font-normal text-sm text-center cursor-pointer w-[200px] mx-auto;
  }

  /* starting of footer  */

  .footer {
    @apply bg-[#1D2130];
  }
  .footer__container {
    @apply max-w-[1150px] mx-auto p-4 py-[4rem];
  }
  .footer__wraper {
    @apply flex justify-between;
  }
  .footer__title {
    @apply text-white text-base;
  }
  .footer__links {
    @apply pt-2;
  }
  .footer__link {
    @apply pt-2 text-[#8b8b8b] text-sm font-light;
  }
  .footer__form {
    @apply bg-[#2B2E3C] mt-4 flex rounded-lg;
  }
  .footer__input {
    @apply w-[250px] py-[0.8rem] outline-none  rounded-md bg-transparent pl-3 text-white;
  }
  .footer__button {
    @apply bg-white rounded-lg px-4;
  }

  /* starting copyright  */

  .copyright {
    @apply flex justify-between items-center mt-[3rem];
  }
  .copyright__icon {
    @apply w-[15px];
  }
  .copyright__line {
    @apply border-b-[#888888] border-b-2 w-[400px];
  }
  .copyright__content {
    @apply text-[#888888] text-[0.7rem] flex gap-5 items-center cursor-pointer;
  }

  /* =========================================== */
  /* Product */
  /* ============================================ */

  .product {
    @apply max-w-[1150px] mx-auto p-4 my-[3rem] flex justify-between items-center;
  }
  .product__title {
    @apply text-[50px] text-[#1D2130] leading-[61px] font-bold;
  }
  .product__description {
    @apply text-[16px] text-[#1D2130] font-light leading-[27px] my-[1.5rem];
  }
  .product__image {
    @apply w-[500px];
  }
  .product__buttons {
    @apply flex gap-5 text-sm;
  }
  .product__button {
    @apply bg-[#1D2130] text-white px-[2rem] py-[0.8rem] rounded-[0.7rem] font-normal;
  }
  .product__button--border {
    @apply bg-transparent text-[#1D2130]  border-2 border-[#b7bdd8];
  }

  /* starting of the company */

  .company {
    @apply bg-gradient-to-br from-[#cbf9d0]  to-[#CACFFA] pt-[5rem];
  }

  .company__title {
    @apply text-[40px] text-[#1D2130] leading-[61px] text-center font-bold my-[2rem];
  }
  .company__wraper {
    @apply max-w-[1200px] bg-white opacity-80 px-[4.5rem] py-[8rem] rounded-tr-[3rem] flex flex-wrap gap-10;
  }
  .company__card {
    @apply max-w-[300px];
  }
  .company__card-title {
    @apply text-[1.3rem]  text-[#1D2130] font-bold mt-[1rem];
  }
  .company__card-description {
    @apply text-[0.85rem] text-[#1D2130] font-light my-[0.5rem];
  }

  /* starting of the feedback, tracker, generation, and remote */

  .remote,
  .generation,
  .tracker,
  .feedback {
    @apply max-w-[1100px] mx-auto p-4 mt-[5rem] flex items-center justify-between;
  }

  .remote__content,
  .generation__content,
  .tracker__content,
  .feedback__content {
    @apply max-w-[500px];
  }
  .remote__title,
  .generation__title,
  .tracker__title,
  .feedback__title {
    @apply font-medium text-transparent text-[20px] bg-clip-text bg-gradient-to-r from-[#373FFF] via-[#3ACAF8] to-[#9de5ff];
  }
  .remote__heading,
  .generation__heading,
  .tracker__heading,
  .feedback__heading {
    @apply text-[2.7rem] text-[#1D2130] font-bold leading-[57px] my-[1rem];
  }
  .remote__description,
  .generation__description,
  .tracker__description,
  .feedback__description {
    @apply text-sm text-[#1D2130] font-light;
  }
  .remote__button,
  .generation__button,
  .tracker__button,
  .feedback__button {
    @apply bg-[#1D2130] text-sm text-white px-[2.5rem] py-[1rem] rounded-[0.7rem] font-normal mt-[2rem];
  }

  .remote__image,
  .generation__image,
  .tracker__image,
  .feedback__image {
    @apply max-w-[400px];
  }

  /* =========================================== */
  /* Pricing */
  /* ============================================ */

  .pricing {
    @apply max-w-[900px] mx-auto p-4 my-[1.5rem] text-center;
  }

  .pricing__title {
    @apply text-[50px] text-[#1D2130] leading-[61px] font-bold my-[2rem];
  }
  .pricing__description {
    @apply text-[16px] text-[#1D2130] font-light leading-[27px] my-[2rem];
  }
  .pricing__buttons {
    @apply flex items-center gap-10 bg-[#d3d9f8] max-w-[300px] mx-auto px-[0.7rem] py-[1rem] rounded-2xl;
  }
  .pricing__button {
    @apply bg-[#1D2130] text-sm text-white px-[2.5rem] py-[1rem] rounded-[0.7rem] font-normal;
  }
  .pricing__year {
    @apply font-bold text-[#1D2130];
  }

  /* starting of plan */

  .plan {
    @apply max-w-[1150px] mx-auto p-4 flex gap-7 items-center justify-between;
  }
  .plan__card {
    @apply bg-white py-[1rem] rounded-2xl max-w-[340px];
  }
  .plan__card--active {
    @apply border-4 border-[#6B7CFF] bg-gradient-to-tr from-[#d8dcfe] to-[#9be1f2];
  }
  .plan__card-header {
    @apply flex items-center gap-4 border-b-2 border-b-[#D8D8D8] py-[1rem];
  }
  .plan__card-icon {
    @apply ml-3;
  }
  .plan__card-title {
    @apply font-bold text-[1.5rem] text-[#1D2130];
  }
  .plan__card-subtitle {
    @apply text-sm text-[#1D2130] font-light;
  }
  .plan__card-links {
    @apply w-[85%] mx-5 mt-7;
  }
  .plan__card_link {
    @apply flex items-center gap-4 mt-[0.8rem] text-center;
  }
  .plan__card-description {
    @apply max-w-[65%] mx-auto my-[1rem];
  }
  .plan__card-footer {
    @apply text-center my-[3rem];
  }
  .plan__card-free {
    @apply text-[1.5rem] font-bold mt-[0.5rem];
  }
  .plan__card-period {
    @apply text-[0.8rem] text-[#1D2130] font-light mb-[1rem];
  }

  .plan__card-button {
    @apply bg-[#1D2130] text-white px-[2.5rem] py-[1rem] rounded-[0.7rem] font-normal;
  }

  /* starting of the faq */
  .faq {
    @apply max-w-[1150px] bg-[#F0F2FE] mx-auto my-[4rem] p-4 px-[3rem] py-[3rem] flex justify-between rounded-xl;
  }
  .faq__left {
    @apply max-w-[500px];
  }
  .faq__title {
    @apply text-[2.5rem] font-bold;
  }
  .faq__description {
    @apply text-sm font-light my-[1.5rem];
  }
  .faq__right {
    @apply max-w-[500px];
  }
  .faq__card {
    @apply bg-[#FFFFFF] px-[2rem] py-[1rem] rounded-2xl mt-5;
  }

  .faq__card-header {
    @apply flex justify-between my-[0.5rem];
  }
  .faq__card-title {
    @apply text-[1.2rem] font-bold text-[#1D2130];
  }
  .faq__card__description {
    @apply text-sm font-light my-[0.5rem];
  }

  /* =========================================== */
  /* Contact */
  /* ============================================ */

  .message__title {
    @apply text-center text-[3rem] font-bold mt-[7rem];
  }
  .message__wraper {
    @apply max-w-[1150px] bg-[#F0F2FE] mx-auto my-[3rem] p-4 px-[3rem] py-[4rem] flex items-center gap-20 rounded-xl;
  }
  .message__left {
    @apply max-w-[580px];
  }

  .message__left-title {
    @apply text-[2rem] text-[#1D2130] font-semibold;
  }

  .message__left-description {
    @apply text-[0.9rem] text-[#1D2130] font-light mb-[3rem];
  }

  .message__form-group {
    @apply flex gap-5;
  }
  .message__input {
    @apply w-full py-[0.8rem] px-[0.5rem] mb-[1.1rem] rounded-md;
  }
  .message__button {
    @apply bg-[#1D2130] w-full text-white px-[2.5rem] py-[1rem] rounded-[0.7rem] font-normal;
  }
  .message__right {
    @apply max-w-[300px];
  }
  .message__card {
    @apply flex gap-5 mt-7;
  }
  .message__number {
    @apply font-semibold;
  }
  .message__support {
    @apply font-light text-[0.9rem] text-[#1D2130];
  }

  /* =========================================== */
  /* About us */
  /* ============================================ */

  /* starting of the proud  */

  .proud {
    @apply max-w-[1150px] mx-auto my-[1rem] p-4 px-[3rem] py-[1rem];
  }
  .proud__title {
    @apply text-[50px] text-[#1D2130] text-center leading-[61px] font-bold;
  }
  .proud__description {
    @apply text-[16px] text-[#1D2130] text-center font-light leading-[27px] my-[2rem];
  }
  .proud__card {
    @apply flex gap-10 my-[2rem] max-w-[950px] mx-auto;
  }
  .proud__image {
    @apply w-[280px];
  }

  /* starting of the about  */
  .about {
    @apply max-w-[800px] mx-auto my-[3rem] p-4 px-[3rem] py-[1rem];
  }
  .about__title {
    @apply font-medium text-center text-transparent text-[20px] bg-clip-text bg-gradient-to-tr from-[#373FFF] via-[#3ACAF8] to-[#9de5ff];
  }
  .about__heading {
    @apply text-[50px] text-[#1D2130] text-center leading-[61px] font-bold my-[1rem];
  }
  .about__description {
    @apply text-[0.9rem] text-[#1D2130] text-center font-light leading-[27px];
  }
  /* starting of the goals and vision  */

  .vision {
    @apply bg-[#F0F2FE] my-[5rem] py-[4rem];
  }
  .vision__wraper {
    @apply max-w-[1100px] mx-auto p-4  flex items-center justify-between;
  }

  .vision__content {
    @apply max-w-[500px];
  }
  .vision__title {
    @apply font-medium text-transparent text-[20px] bg-clip-text bg-gradient-to-r from-[#373FFF] via-[#3ACAF8] to-[#9de5ff];
  }
  .vision__heading {
    @apply text-[2.6rem] text-[#1D2130] font-medium leading-[57px] my-[1rem];
  }
  .vision__description {
    @apply text-sm text-[#1D2130] font-light;
  }

  /* starting of the values  */
  .value__heading {
    @apply text-[2.6rem] text-center text-[#1D2130] font-medium leading-[57px] my-[1rem];
  }
  .value__description {
    @apply text-sm text-center text-[#1D2130] font-light;
  }

  /* starting of the features */

  .value {
    @apply max-w-[1150px] mx-auto p-4 mt-[5rem];
  }

  .value__title {
    @apply text-center font-medium text-transparent text-[25px] bg-clip-text bg-gradient-to-t from-[#373FFF] via-[#3ACAF8] to-[#9de5ff];
  }

  .value__heading {
    @apply text-[2.5rem] text-[#1D2130] text-center font-bold leading-[57px] my-[1rem];
  }
  .value__wraper {
    @apply bg-[#F9F0FB] px-[3rem] py-[5rem] rounded-2xl my-[3rem] flex flex-wrap gap-7 justify-between;
  }

  .value__card {
    @apply max-w-[320px];
  }

  .value__card-image {
    @apply max-w-[35px];
  }

  .value__card-title {
    @apply text-[1.4rem] text-[#1D2130] font-semibold my-[1rem];
  }
  .value__card-description {
    @apply text-[0.9rem] font-light;
  }

  /* starting of the team  */

  .team {
    @apply max-w-[1150px] mx-auto my-[4rem] p-4 flex gap-7  justify-between;
  }
  .team__left {
    @apply max-w-[350px];
  }
  .team__title {
    @apply text-[2.5rem] text-[#1D2130] font-bold leading-[57px] my-[1rem];
  }

  .team__description {
    @apply text-[0.9rem] text-[#1D2130] font-light;
  }
  .team__wraper {
    @apply flex flex-wrap gap-5;
  }
  .team__card {
    @apply bg-[#E0E4FC] max-w-[220px] rounded-xl;
  }
  .team__card-name {
    @apply text-[1.2rem] text-[#1D2130] font-bold text-center mt-[2rem];
  }
  .team__card-role {
    @apply text-[#1D2130] text-center text-[0.9rem] font-light mb-[1rem];
  }

  /* =========================================== */
  /* Blog */
  /* ============================================ */

  /* starting of the latest */

  .blog {
    @apply max-w-[1250px] mx-auto my-[3rem] p-4 px-[3rem] py-[1rem];
  }
  .blog__title {
    @apply text-[50px] text-[#1D2130] text-center leading-[61px] font-bold;
  }
  .blog__description {
    @apply text-[16px] text-[#1D2130] text-center font-light leading-[27px] my-[2rem];
  }
  .blog__card {
    @apply flex gap-10 my-[2rem] max-w-[1200px] mx-auto p-[4rem] rounded-xl border-[1px] border-gray-300;
  }
  .blog__image {
    @apply w-[490px];
  }

  .blog__card-title {
    @apply font-medium text-transparent text-[20px] bg-clip-text bg-gradient-to-r from-[#373FFF] via-[#3ACAF8] to-[#9de5ff];
  }

  .blog__card-heading {
    @apply text-[2.7rem] text-[#1D2130] font-bold leading-[57px] my-[1rem];
  }
  .blog__card-description {
    @apply text-sm text-[#1D2130] font-light;
  }
  .blog__card-footer {
    @apply text-sm text-[#1D2130] font-light mt-[2rem];
  }
  /* starting of the post */

  .post {
    @apply max-w-[1150px] mx-auto p-4 my-[4rem];
  }

  .post__heading {
    @apply text-[2.5rem] text-[#1D2130] text-center font-bold leading-[57px] my-[1rem];
  }
  .post__wraper {
    @apply my-[3rem] flex flex-wrap gap-7 justify-between;
  }

  .post__card {
    @apply max-w-[320px] mt-7;
  }

  .post__card-image {
    @apply max-w-[370px];
  }

  .post__card-title {
    @apply text-[1.1rem] text-[#1D2130] font-semibold my-[1rem];
  }
  .post__card-description {
    @apply text-[0.9rem] font-light;
  }
  .post__card-footer {
    @apply text-[0.8rem] font-normal mt-[1rem];
  }

  /* =========================================== */
  /* Post */
  /* ============================================ */

  /* starting of the article */

  .article {
    @apply max-w-[1150px] mx-auto my-[3rem] p-4 px-[3rem] py-[1rem];
  }
  .article__title {
    @apply text-[45px] text-[#1D2130] text-center leading-[61px] font-bold;
  }
  .article__description {
    @apply text-[16px] text-[#1D2130] text-center font-light leading-[27px] my-[2rem];
  }

  .article__image {
    @apply w-[1150px] mx-auto mt-[3rem];
  }

  /* starting of the article body */

  .body {
    @apply max-w-[730px] mx-auto p-4;
  }
  .body__title {
    @apply text-[35px] text-[#1D2130] leading-[61px] mt-[1rem];
  }
  .body__description {
    @apply text-[16px] text-[#1D2130] font-light leading-[27px] my-[2rem];
  }
  .body__description--border {
    @apply pl-[1rem] border-l-4 border-l-[#E0E4FC];
  }
}
